/* GENERAL */
:root {
  --interactive-color: #404bbf;
  --title-text-color: #2e2f42;
  --main-color: #434455;
  --white-text-color: #ffffff;
  --footer-text-color: #f4f4fd;
  --logo-blue: #4d5ae5;
  --border-color: #e7e9fc;
  --customer-color: #8e8f99;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --footer-btn: #31d0aa;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-color);
  background-color: var(--white-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: var(--main-color);
}
.list {
  list-style-type: none;
}

/* HEADER */
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-blue);
  text-transform: uppercase;
}
.header-logo {
  color: var(--title-text-color);
}

.header-logo-link {
  margin-right: 76px;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding: 24px 0;
  display: block;
  transition: color var(--transition);
}

.current {
  position: relative;
  color: var(--interactive-color);
}

.header-menu-item:hover {
  color: var(--interactive-color);
}

.header-menu-item:focus {
  color: var(--interactive-color);
}

.header-menu-item:active {
  color: var(--interactive-color);
}

.current::after {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;
  background: var(--interactive-color);
  border-radius: 2px;
  content: '';
  bottom: -1px;
}

.address {
  font-style: normal;
}
.header-soc {
  display: flex;
  gap: 40px;
}
.header-soc-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  transition: color var(--transition);
}
.header-soc-link:hover {
  color: var(--interactive-color);
}
.header-soc-link:focus {
  color: var(--interactive-color);
}
/* MAIN */
.hero {
  margin: 0 auto;
  background-color: var(--title-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-text-color);
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-text-color);
  background-color: var(--logo-blue);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  min-width: 169px;
  height: 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--transition);
}
.hero-btn:hover {
  background-color: var(--interactive-color);
}
.hero-btn:focus {
  background-color: var(--interactive-color);
}

.main-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 8px;
}
.main-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  margin-bottom: 72px;
}

.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-subtitle {
  color: var(--title-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.advantages-item-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}

.advantages-list-item {
  width: 100%;
}

.advantages-list-icon {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.activity {
  padding-bottom: 120px;
  display: none;
}

.activity-list {
  display: flex;
  gap: 24px;
}

.activity-list-item {
  width: calc((100% - 48px) / 3);
}

.team {
  background-color: var(--footer-text-color);
  padding: 96px 0;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
}
.team-list-item {
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle,
.team-text {
  text-align: center;
}

.team-text {
  margin-bottom: 8px;
}

.team-list-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-link-item {
  width: 40px;
  height: 40px;
}

.soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color var(--transition);
}

.team-link-icon {
  display: block;
  fill: var(--footer-text-color);
}

.soc-link:hover {
  background-color: var(--interactive-color);
}

.soc-link:focus {
  background-color: var(--interactive-color);
}

.container-name {
  padding: 32px 0;
}

.customers {
  padding: 96px 0;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-list-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--customer-color);
  border-radius: 4px;
  transition: color var(--transition), border-color var(--transition);
  color: var(--customer-color);
}

.customer-icon {
  transition: fill var(--transition);
  fill: currentColor;
}

.customer-link:hover {
  color: var(--interactive-color);
  border-color: var(--interactive-color);
}

.customer-link:focus {
  color: var(--interactive-color);
  border: 1px solid var(--interactive-color);
}

.footer {
  background-color: var(--title-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-text-container {
  margin-right: 120px;
}

.footer-logo {
  color: var(--footer-text-color);
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  max-width: 264px;
}

.footer-social-container {
  margin-right: 80px;
}

.soc-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-text-color);
  margin-bottom: 16px;
}

.footer-soc {
  width: 100%;
  height: 100%;
  background-color: var(--logo-blue);
  display: flex;
  transition: background-color var(--transition);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.social-links {
  display: flex;
  gap: 16px;
}

.social-links-item {
  width: 40px;
  height: 40px;
}

.social-icon {
  fill: var(--footer-text-color);
}

.footer-soc:hover {
  background-color: var(--footer-btn);
}

.footer-soc:focus {
  background-color: var(--footer-btn);
}

.footer-input {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--white-text-color);
}

.footer-input::placeholder {
  color: var(--white-text-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
}

.footre-form {
  display: flex;
  gap: 24px;
}
.subscribe-btn {
  min-width: 165px;
  color: var(--white-text-color);
  text-align: center;
  padding: 8px 24px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background-color: var(--logo-blue);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-icon {
  fill: var(--white-text-color);
  margin-left: 16px;
}

/* PORTFOLIO */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-sorting {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logo-blue);
  background-color: var(--footer-text-color);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color var(--transition), color var(--transition),
    box-shadow var(--transition), border-color var(--transition);
}

.portfolio-btn:hover {
  color: var(--white-text-color);
  background-color: var(--interactive-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.portfolio-btn:focus {
  color: var(--white-text-color);
  background-color: var(--interactive-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  cursor: pointer;
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  padding: 40px 32px;
  background-color: var(--logo-blue);
  transform: translateY(100%);
  transition: transform var(--transition);
}

.link-app:hover .overlay-text {
  transform: translateY(0%);
}

.link-app:focus .overlay-text {
  transform: translateY(0%);
}

.link-app {
  display: block;
  transition: box-shadow var(--transition);
}

.link-app:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-app:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-app {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  position: absolute;
  min-height: 584px;
  width: 408px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 24px 24px;
  transition: transform var(--transition);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0px;
  cursor: pointer;
  background: var(--border-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition), border var(--transition);
}

.cross-icon {
  transition: fill var(--transition);
}

.modal-btn:hover {
  background-color: var(--interactive-color);
  border: none;
}

.modal-btn:focus {
  background-color: var(--interactive-color);
  border: none;
}

.modal-btn:active {
  background-color: var(--interactive-color);
  border: none;
}

.modal-btn:hover .cross-icon {
  fill: var(--white-text-color);
}

.modal-btn:focus .cross-icon {
  fill: var(--white-text-color);
}

.modal-btn:active .cross-icon {
  fill: var(--white-text-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.modal-form {
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 11px 38px;
  outline: transparent;
  transition: border-color var(--transition);
}

.inpute-name {
  display: block;
  color: var(--customer-color);
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  margin-bottom: 4px;
}

.coment-container {
  margin-bottom: 16px;
}

.input-field::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.48px;
  color: rgba(46, 47, 66, 0.4);
}

.input-field {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition);
}

.input-field:focus {
  border-color: var(--logo-blue);
}

.input-icon {
  fill: var(--title-text-color);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.input-wrap {
  position: relative;
}

.input-container {
  margin-bottom: 8px;
}

.modal-input:focus {
  border-color: var(--logo-blue);
}

.modal-input:focus + .input-icon {
  fill: var(--logo-blue);
}

.policy-container {
  margin-bottom: 24px;
}

.policy-text {
  color: var(--customer-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.check-space {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  transition: background-color var(--transition), border var(--transition),
    fill var(--transition);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.check-icon {
  visibility: hidden;
}

.input-check:checked + .policy-text .check-icon {
  visibility: visible;
}

.input-check:checked + .policy-text .check-space {
  background-color: var(--interactive-color);
  border: none;
  fill: var(--footer-text-color);
}

.link-policy {
  color: var(--logo-blue);
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .advantages-list-item {
    width: calc((100% - 24px) / 2);
  }

  .customers-list {
    column-gap: 24px;
  }
  .customers-list-item {
    width: calc((100% - 24px * 2) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {
    max-width: 1158px;
  }

  .advantages-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .advantages-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: var(--footer-text-color);
    position: relative;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }

  .advantages-item-text {
    font-weight: 400;
  }

  .team {
    padding: 120px 0;
  }

  .customers {
    padding: 120px 0;
  }

  .customers-list-item {
    width: calc((100% - 120px) / 6);
  }
}
